body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    background-color: rgba(128, 0, 32, 1);
    height: 180px;
    margin-bottom: 50px;
}
.nav-cointainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.home-container{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    margin-left: 120px;
}
.email-container{
  margin-top: 150px;
}
.email-container a{
    text-decoration: none;
    color: #fff;
    font-size: medium;
    font-weight: 20px;
    margin-left: 300px;
}

.email-container a:hover{
    color: aqua;
}
.logo{
    margin-left: 10px;
    margin-top: 0;
}
.Footer-Cointainer{

    background-color: rgb(51, 50, 50);
    padding-bottom: 5px;
    height: 200px;
    margin-top: 50px;
}
.footer{
    width: 100%;
    height: 150px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.Footer-Header{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}
.Footer-Header h2 {
    margin-bottom: 15px;
    font-weight: 100;
}
.Footer-Header a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}
.Footer-Header a:hover {
    color: aqua;
    transition: 0.3s ease-out;
}
.container a {

    text-decoration: none;
    background-color: rgba(128, 0, 32, 1);
    color: #fff;
    padding: 10px;
}

