body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    background-color: rgba(128, 0, 32, 1);
    height: 180px;
    margin-bottom: 50px;
}
.nav-cointainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.home-container{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    margin-left: 120px;
}
.email-container{
  margin-top: 160px;
}
.email-container a{
    text-decoration: none;
    color: #fff;
    font-size: medium;
    font-weight: 20px;
    margin-left: 130px;
}

.email-container a:hover{
    color: aqua;
}
.logo{
    margin-left: 10px;
}
.Footer-Cointainer{

    background-color: rgb(51, 50, 50);
    padding-bottom: 5px;
    height: 200px;
    margin-top: 50px;
}
.footer{
    width: 100%;
    height: 150px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.Footer-Header{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}
.Footer-Header h2 {
    margin-bottom: 15px;
    font-weight: 100;
}
.Footer-Header a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}
.Footer-Header a:hover {
    color: aqua;
    transition: 0.3s ease-out;
}

button{
    background-color: rgba(128, 0, 32, 1);
    width: 80%;
    color: #fff;
    height: 50px;
    font-size: medium;
    margin-left: 110px;
    margin-top: 4px;
    border: none;
    cursor: pointer;
}
button:hover {
    
    color: aqua;
}
.pop-up{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}   
.close{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-2{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-2 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-2{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-3{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-3 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-3{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-4{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-4 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-4{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-5{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-5 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-5{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-5-2{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-5-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-5-2 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-5-2{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-5-3{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-5-3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-5-3 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-5-3{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-6{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-6 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-6{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-6-2{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-6-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-6-2 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-6-2{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-6-3{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-6-3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-6-3 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-6-3{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-7{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-7{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-7 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-7{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-7-2{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-7-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-7-2 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-7-2{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pop-up-7-3{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pu-container-7-3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 300px;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.pu-container-7-3 button{

    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.close-7-3{
    position: absolute;
    font-size: 42px;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
